*{
   
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
:root{

--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)

}



@font-face {
    font-family:'FuturaPTLight';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }
    @font-face {
    font-family:'FuturaPTMedium';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500px;
    font-style: normal;
    }
  @font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
  

    body{
      overflow-x: hidden;
      background-image: url(../img/location003.jpg) ;
      background-size: cover;  
      background-attachment: fixed;
   background-position: center;
width: 100%;
   margin-left: auto;
   margin-right: auto;



  }

  /*3d*/ 

  #c {
    background: rgba(0, 0, 0, 0);
 z-index: 999;
  height: 100vh; 
display: block;
position: fixed;
width: 100vw;

    
 }


.menu{

}
.pusto2{
  height: 100vh;
  width: 100vw;
  outline: 2px solid tomato;
  background-color: rgb(27, 27, 27);
 
}

.oblojka{
box-shadow:5px 5px #ffffff;

  background-image: url(../img/location003.jpg) ;
  overflow: hidden;
  filter: grayscale(100%);
  background-size: cover;  
  background-attachment: fixed;
  height: 840vh;

}


.wrapper{


}



.zagolovok{
  position: absolute;
   font-family:'FuturaPTLight';
  font-size: 33px;
 margin-left: 12vw;
 margin-top: 250vh;
  color: rgb(0, 0, 0);
  z-index: 999;
padding: 10px;
  background-color: #cdc6c3;
  outline: 2px solid rgb(0, 0, 0);
  letter-spacing:-5px;
  
 
}
.zagolovok1{

}

.video01_02{
  position: relative;
  width: 100%;
  outline: 2px solid tomato;
  
}
.video02_01{
  width: 100%;
  outline: 2px solid tomato;
}
.video03_01{
  position: relative;
  width: 100%;
}

.video01{
  position: absolute;

  width: 300px;
  outline: 2px solid rgb(3, 3, 3);
 z-index: 998;
margin-top: 100vh;
margin-left:42vw;
}

.video02{
  position: absolute;
  width: 300px;
  
  outline: 2px solid rgb(0, 0, 0);
  margin-left:74vw;
  margin-top: 220vh;
  z-index: 998;

}
.video03{
  position: absolute;

  width: 300px;
  outline: 2px solid rgb(3, 3, 3);
 z-index: 998;
margin-top: 320vh;
margin-left:58vw;
}
.bmx{
  position: absolute;
  z-index: 998;
  margin-top: 150vh;
  margin-left: 15vw;
  width: 200px;
}
.scoot{
  
    position: absolute;
    z-index: 998;
    margin-top: 230vh;
    margin-left: 60vw;
    width: 200px;
  }

.logotip{
  position: absolute;
 height: 530px;
  margin-left:87vw;
  margin-top: 220vh;
  z-index: 998;
  
}
/*descriptions*/
.wrapper-description{
  display: flex;


}
.description{
  background-color: #98bcd1;
  position: absolute;
  font-family:'FuturaPTLight';
  font-size: 20px;
  z-index: 998;
  color: #000000;
  width: 400px;
  
  margin-top: 300vh;

  margin-left: 15vw;
  line-height: 0.7;
  letter-spacing: 1px;
  text-align:center;
  outline: 2px solid #000000;


}
.description2{
  background-color: #dfa8c6;
  position: absolute;
  font-family:'FuturaPTLight';
  font-size: 25px;
  z-index: 998;
  color: #000000;
  width: 400px;
  
  margin-top: 400vh;
  margin-left: 15vw;
  line-height: 0.7;
  letter-spacing: 1px;
  text-align:center;
  outline: 2px solid #000000;

}

.description3{
  background-color: #e4e679;
  position: absolute;
  font-family:'FuturaPTLight';
  font-size: 20px;
  z-index: 998;
  color: #000000;
  width: 400px;
  
  margin-top: 450vh;
  margin-left: 15vw;
  line-height: 0.7;
  letter-spacing: 1px;
  text-align:center;
  outline: 2px solid #000000;

}
.entrance{
  width: 250px;
  height: 100px;
  z-index: 999;
}
.description1{
  

}
.pusto{
 
}


.wrapper-buttons{
display: flex;
margin-top: 510vh;

}

.button1{
  font-family:'FuturaPTLight' ;
  font-size: 50px;
  background-color: #00000086;
  height: 75px;
  width: 25%;
  outline: 2px solid rgb(255, 255, 255);
  color: #98bcd1;
  margin-bottom: 3vh;
}
.contact{
  font-family:'FuturaPTLight' ;
  font-size: 50px;
  background-color: #00000086;
  height: 75px;
  width: 25%;
  outline: 2px solid rgb(255, 255, 255);
  color: #e4e679;
}
.button2{
  font-family:'FuturaPTLight' ;
  font-size: 50px;
  background-color: #00000086;
  height: 75px;
  width: 25%;
  outline: 2px solid rgb(255, 255, 255);
  color: aqua;
}
.button3{
  font-family:'FuturaPTLight' ;
  font-size: 50px;
  background-color: #00000086;
  height: 75px;
  width: 25%;
  outline: 2px solid rgb(255, 255, 255);
  color: #ff00bf;
}


.wrapper-text{
  font-family: 'FuturaPTLight';
  font-size: 20px;
 color: #ffffff;

 margin: 150vh 0 0 0 ; 
 background: rgb(26, 25, 25);

 height: 25px;
   z-index: 999;
 text-align: center;
 position: fixed;
width: 100%;
}


/*новая страница*/

.wrapper-body{
  width: 100%;
  height: 100vh;
  background-image: url(../img/park.JPG);
  background-size: cover;
  background-attachment: fixed;
  
}


.wrapper-logo{
  background-color: black;
width: 100%;
height: 150px;



}
.link-logo{

}
.img-logo{
  padding: 2em;
width: 450px;
position: fixed;
}
.button-header{
  font-family:'FuturaPTLight';
  --bouncing-offset: 0.25em;
  --bg: 377, 60%, 48%;
  --dark: hsl(199, 33%, 15%);
z-index: 999;
  background-color: hsl(var(--bg));
  color: var(--dark);

  border: 0;
  border-radius: 0.5em;
  padding: 0.7em;
  
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: lowercase;
  line-height: 1;
  position: fixed;
  margin-left:65em;
  margin-top:1.6em;
 
 
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  cursor: pointer;
  box-shadow: 0 var(--bouncing-offset) 0 0 hsl(var(--bg), 0.5);
}
  
.button-header:active,
.button-header:focus-visible {
transform: translateY(var(--bouncing-offset));
box-shadow: none;

}

.button-header-span{

}


.img-body{
  margin: 0;
  width: 100%;
}





